/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
    color: #ffffff;
    overflow-x: hidden;
}


header {
    background: #000000;
    color: #ffffff;
    border-bottom: 1px solid white;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: fadeIn 1s ease forwards;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}


#certificates {
    padding: 130px 40px;
    animation: slideUp 0.8s ease forwards;
}

.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.card {
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 25px;
    margin-top: 20px;
    animation: fadeSlide 0.9s ease forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.certificate-img {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* CENTER THE H3 TEXT */
.card h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeSlide {
    from { opacity: 0; transform: translateY(25px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    nav {
        gap: 20px;
    }

    #certificates {
        padding: 110px 20px;
    }

    h2 {
        font-size: 26px;
    }

    .card {
        padding: 20px;
    }
}
