
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
    color: #ffffff;
}


header {
    background: #000000;
    color: #ffffff;
    border-bottom: 1px solid white;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    animation: fadeIn 1s forwards;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}


section {
    padding: 120px 40px;
    animation: slideUp 0.8s forwards;
}

.container {
    max-width: 750px; 
    margin: auto;
}

.card {
    border: 2px solid #ffffff;
    padding: 30px; 
    border-radius: 4px;
    margin-bottom: 25px;
    transition: 0.3s ease;
    background: #97979723;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}


.flip-image-container {
    width: 100%;
    height: 900px; 
    perspective: 1000px;
    margin-bottom: 10px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}

.flip-image-container:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    object-fit: cover;
    backface-visibility: hidden;
}

.flip-back {
    transform: rotateY(180deg);
}


h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
}

h4 {
    margin: 8px 0 3px 0;
}

p {
    line-height: 1.5;
    font-size: 14px; /* SMALLER TEXT */
    margin-bottom: 10px;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(25px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 600px) {
    section {
        padding: 100px 20px;
    }

    .container {
        max-width: 100%;
    }

    .flip-image-container {
        height: 180px;
    }
}
