
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
    color: #ffffff;
    overflow-x: hidden;
}


header {
    background: #000000;
    color: #ffffff;
    border: 1px solid white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    animation: fadeIn 1s ease forwards;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffffff;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}


#photos {
    padding: 130px 40px;
    animation: slideUp 0.8s ease forwards;
}

.container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 1.6;
}


.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}


.photo-card {
    width: 100%;
    height: 260px;
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 6px;
    position: relative;
    animation: fadeSlide 0.9s ease forwards;
}

.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.4s ease, filter 0.4s ease;
}


.photo-card:hover img {
    transform: scale(1.1);
    filter: brightness(85%);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    inset: 0;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    animation: zoomIn 0.4s ease;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

@keyframes zoomIn {
    from { transform: scale(0.5); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeSlide {
    from { opacity: 0; transform: translateY(25px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .photo-card {
        height: 220px;
    }
}

@media (max-width: 600px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .photo-card {
        height: 200px;
    }
}
